<?xml version="1.0" encoding="utf-8"?>
<EnvironmentalConfigSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnvironmentalConfigSettingsCollection>
    <EnvironmentalConfigSetting ConfigName="DEVFABRIC">
      <ExecutionConfigurations Key="HostName" Value="usnconeboxax1aos.cloud.onebox.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Onebox:usnconeboxax1aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
      <ExecutionConfigurations Key="BugCheck" Value="false" />
      <ExecutionConfigurations Key="AggressiveGC" Value="false" />
      <ExecutionConfigurationsNodes ConfigurationName="SVC">
        <ConfigurationSpecificDetails Key="AppConfig" Value="DEVFABRIC.Config" />
      </ExecutionConfigurationsNodes>
      <ExecutionConfigurationsNodes ConfigurationName="WOR">
        <ConfigurationSpecificDetails Key="ClickOnceApp" Value="http://127.0.0.1:10000/devstoreaccount1/clickoncepackage/Microsoft.Dynamics.AX.Framework.Workflow.WorkflowEditorHost.application" />
      </ExecutionConfigurationsNodes>
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="INPROC">
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.ServerForm.InProcServerFormDispatcherClient, Microsoft.Dynamics.TestTools.Dispatcher.ServerForm" />
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="USNC_SRV_CLOUD_1">
      <ExecutionConfigurations Key="HostName" Value="usncsrvax1aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Srv:usncsrvax1aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
      <ExecutionConfigurationsNodes ConfigurationName="SVC">
        <ConfigurationSpecificDetails Key="AppConfig" Value="DEVFABRIC.Config" />
      </ExecutionConfigurationsNodes>
      <ExecutionConfigurationsNodes ConfigurationName="WOR">
        <ConfigurationSpecificDetails Key="storageHostName" Value="" />
      </ExecutionConfigurationsNodes>
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="RAINMAIN_CLOUD">
      <ExecutionConfigurations Key="HostName" Value="uswetestax2aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax2aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="RAINFND_CLOUD">
      <ExecutionConfigurations Key="HostName" Value="uswetestax1aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax1aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="RAINRECRUIT_CLOUD">
      <ExecutionConfigurations Key="HostName" Value="uswetestax71aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax71aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="RAINSTAB_CLOUD">
      <ExecutionConfigurations Key="HostName" Value="uswetestax3aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax3aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="RAINSI_CLOUD">
      <ExecutionConfigurations Key="HostName" Value="uswetestax69aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax69aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="RAININT_CLOUD">
      <ExecutionConfigurations Key="HostName" Value="uswetestax71aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax71aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="RAINAPP_CLOUD">
      <ExecutionConfigurations Key="HostName" Value="uswetestax71aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax71aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="USNC_CLI_CLOUD_1">
      <ExecutionConfigurations Key="HostName" Value="USNC_CLI_CLOUD_1.dynamics.com" />
      <ExecutionConfigurationsNodes ConfigurationName="SVC">
        <ConfigurationSpecificDetails Key="AppConfig" Value="DEVFABRIC.Config" />
      </ExecutionConfigurationsNodes>
      <ExecutionConfigurationsNodes ConfigurationName="WOR">
        <ConfigurationSpecificDetails Key="storageHostName" Value="" />
      </ExecutionConfigurationsNodes>
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="TST">
      <ExecutionConfigurations Key="HostName" Value="uswetestax00aos.cloud.test.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingAdminUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://usnctestacs2.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Test:uswetestax00aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
      <ExecutionConfigurationsNodes ConfigurationName="SVC">
        <ConfigurationSpecificDetails Key="AppConfig" Value="TSTApp.Config" />
      </ExecutionConfigurationsNodes>
      <ExecutionConfigurationsNodes ConfigurationName="WOR">
        <ConfigurationSpecificDetails Key="storageHostName" Value="" />
      </ExecutionConfigurationsNodes>
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="TIE">
      <ExecutionConfigurations Key="HostName" Value="uscetieax00aos.cloud.tie.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingRunnerUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://axtiecsu1acs.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Tie:uscetieax00aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
      <ExecutionConfigurations Key="SelfSigningCertificateThumbprint" Value="A47DB9B7487DAF99B2C7B5AA21CD9B8E80CA3B49" />
      <ExecutionConfigurationsNodes ConfigurationName="SVC">
        <ConfigurationSpecificDetails Key="AppConfig" Value="TIEApp.Config" />
      </ExecutionConfigurationsNodes>
      <ExecutionConfigurationsNodes ConfigurationName="WOR">
        <ConfigurationSpecificDetails Key="storageHostName" Value="" />
      </ExecutionConfigurationsNodes>
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="INT">
      <ExecutionConfigurations Key="HostName" Value="usweintax00aos.cloud.int.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingRunnerUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://axintcsu1acs.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Int:usweintax00aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
      <ExecutionConfigurations Key="SelfSigningCertificateThumbprint" Value="6942E6CE159A022C91D73611063BA21DA58B8149" />
      <ExecutionConfigurationsNodes ConfigurationName="SVC">
        <ConfigurationSpecificDetails Key="AppConfig" Value="INTApp.Config" />
      </ExecutionConfigurationsNodes>
      <ExecutionConfigurationsNodes ConfigurationName="WOR">
        <ConfigurationSpecificDetails Key="storageHostName" Value="" />
      </ExecutionConfigurationsNodes>
    </EnvironmentalConfigSetting>
    <EnvironmentalConfigSetting ConfigName="PROD">
      <ExecutionConfigurations Key="HostName" Value="use2ax00aos.cloud.dynamics.com" />
      <ExecutionConfigurations Key="AdminAuthenticatorConfigurationId" Value="SelfMintingRunnerUser" />
      <ExecutionConfigurations Key="DefaultBrowser" Value="InternetExplorer" />
      <ExecutionConfigurations Key="AccessControlServiceUrl" Value="https://axprdcsu1acs.accesscontrol.windows.net/v2/wsfederation" />
      <ExecutionConfigurations Key="FederationRealm" Value="urn:Microsoft:Dynamics:Cloud:Prod:use2ax00aos:AosWeb" />
      <ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.JsDispatcherClient" />
      <!--ExecutionConfigurations Key="DefaultDispatcher" Value="Microsoft.Dynamics.TestTools.Dispatcher.Client.ServerFormDispatcherClient" /-->
      <ExecutionConfigurations Key="SelfSigningCertificateThumbprint" Value="65469383513D254825861EAD26AF221AC2E2389E" />
      <ExecutionConfigurationsNodes ConfigurationName="SVC">
        <ConfigurationSpecificDetails Key="AppConfig" Value="PRODApp.Config" />
      </ExecutionConfigurationsNodes>
      <ExecutionConfigurationsNodes ConfigurationName="WOR">
        <ConfigurationSpecificDetails Key="storageHostName" Value="" />
      </ExecutionConfigurationsNodes>
    </EnvironmentalConfigSetting>
  </EnvironmentalConfigSettingsCollection>

  <AuthenticatorConfigurationCollection>
    <AuthenticatorConfiguration Id="OrgIdUser1" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.Web.IntOrgIdAuthenticator">
      <Credentials Username="tusr1@TAEOfficial.ccsctp.net" Password="Pass1Word" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="OrgIdUser2" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.Web.IntOrgIdAuthenticator">
      <Credentials Username="tusr2@TAEOfficial.ccsctp.net" Password="Pass2Word" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="OrgIdUser3" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.Web.IntOrgIdAuthenticator">
      <Credentials Username="tusr3@TAEOfficial.ccsctp.net" Password="Pass3Word" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="OrgIdUser4" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.Web.IntOrgIdAuthenticator">
      <Credentials Username="tusr4@TAEOfficial.ccsctp.net" Password="Pass4Word" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="SelfMintingAdminUser" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.SelfMintedTokenAuthenticator">
      <Credentials Username="tusr1@TAEOfficial.ccsctp.net" Password="Pass1Word"/>
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="SelfMintingSysUser" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.SelfMintedTokenAuthenticator">
      <Credentials Username="tusr2@TAEOfficial.ccsctp.net" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="SelfMintingOrgIdUser1" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.SelfMintedTokenAuthenticator">
      <Credentials Username="tusr3@TAEOfficial.ccsctp.net" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="SelfMintingInvalidUser" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.SelfMintedTokenAuthenticator">
      <Credentials Username="invalid@TAEOfficial.ccsctp.net" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="SelfMintingRunnerUser" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.SelfMintedTokenAuthenticator">
      <Credentials Username="daxrunneruser@daxmdsrunner.com" NetworkDomain="urn:Microsoft:Dynamics:Cloud:DaxRunner" />
    </AuthenticatorConfiguration>

    <!-- These are not usable because the authenticator code for these providers has not yet been written

    <AuthenticatorConfiguration Id="GoogleUser" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.Web.GoogleAuthenticator">
      <Credentials Username="axusersrv@gmail.com" Password="Azure.World1" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="YahooUser" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.Web.YahooAuthenticator">
      <Credentials Username="axusersrv@yahoo.com" Password="Azure.World1" />
    </AuthenticatorConfiguration>
    <AuthenticatorConfiguration Id="WindowsLiveUser" Class="MS.Dynamics.TestTools.CloudCommonTestUtilities.Authentication.Web.WindowsLiveAuthenticator">
      <Credentials Username="axusersrv@live.com" Password="Azure.World1" />
    </AuthenticatorConfiguration>
    -->
  </AuthenticatorConfigurationCollection>
</EnvironmentalConfigSettings>
