<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="Aad Tenant" value="contosoax7.onmicrosoft.com"/>
    <add key ="Azure auth Uri" value="https://login.windows.net"/>
    <add key ="Azure Client Id" value="d50e7804ec5949e1b09dbcfad8412fa8"/>
    <add key ="Azure Client Secret" value="y/8Z9FZyeoQ8vdQsySHJmUVHtc/LOgy+p9EO9Enhlbc="/>
    <add key ="Rainier Uri" value ="https://usncax1aos.cloud.onebox.dynamics.com"/>
    <add key ="Rainier Service Prinicipal" value ="spn:49cb2717-5fa7-43c0-b8b0-d8770dc5bca3"/>
  </appSettings>
  
</configuration>